body {
	background-color: green;
	margin: 0;
}

.mainblock{
	height: 500px;
	width: 500px;
	/*border: 1px solid #fff;*/
	margin: 100px;
	padding: 50px;
}

input{
	height: 25px;
	width: 300px;
	margin: 10px;
}

button{
	height: 25px;
	width: 150px;
	margin: 10px;

}

label {
	font-family: 'Montserrat';
	color: #ffffff;
}

.labelblock{
	margin-bottom: 25px;
}